<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
      <div class="container">
          <img id="conan" src="/img/conan.jpg" />
          <h1>Welcome to the Library</h1>

        <a class ="btn btn-danger" href="/librarian">Librarian Access</a>
        <a class ="btn btn-success" href="/patron">Patron Access</a>

      </div>

  </body>
</html>
