body{
    background: url('/img/books.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-decoration: none;
}
#conan{
    border-radius: 100%;
    border: 15px solid rgba(255, 255, 255, 0.4);
}
.container{
    text-align: center;
}
